# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [13]:
#import libraries
import pandas as pd
import configparser
import boto3
import pandas as pd
import re
#import psycopg2
from pyspark.sql import SparkSession

<h3>2 - Questions</h3>

<ol> 
    <li>Which cities do immigrants tend to move and where did they come from?</li>
<li>Does temperature play a role on where people on temporary visas go?</li>
</ol>

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc?

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

The data sets used for this project are airport codes, immigration data, us cities demographics data, and temperature data
<h4>Airport Codes</h4>
Airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code. The data was provided by Udacity which was obtained from <a href="https://datahub.io/core/airport-codes#data">Data Hub</a>.
<h4>Immigration Data</h4>
The data comes from the US National Tourism and Trade Office and provided by Udacity. A data dictionary is provided within the file I94_SAS_Labels_Descriptions.SAS.
The data set was taken from <a href="https://travel.trade.gov/research/reports/i94/historical/2016.html">this link</a>.
The dataset can be previewed from the immigration_data_sample.csv file. The full dataset consists of several SAS files which are located within the
SAS_data folder. 
<h4>Temperature Data</h4>
The dataset is provided by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0 </a>.
<h4>US Cities Demographics</h4>
The data comes from <a href="https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/">OpenSoft</a>. The dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000. This data comes from the US Census Bureau's 2015 American Community Survey <a href="https://www.census.gov/data/developers/about/terms-of-service.html">and is referenced in this link. </a>

In [14]:
#Get AWS credentials
config = configparser.ConfigParser()
config.read('dwh.cfg')
AWS_ACCESS_KEY_ID = config.get('AWS', 'AWS_ACCESS_KEY_ID')
AWS_SECRET_ACCESS_KEY = config.get('AWS', 'AWS_SECRET_ACCESS_KEY')
s3 = boto3.resource('s3', aws_access_key_id = AWS_ACCESS_KEY_ID, aws_secret_access_key = AWS_SECRET_ACCESS_KEY)

In [15]:
#Initialize spark session
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [16]:
#make connection to redshift
# HOST=my-udacity-db.crd2lwlmrmzb.us-west-2.redshift.amazonaws.com
# DB_NAME=my_udacity_db
# DB_USER=dbuser
# DB_PASSWORD=DB_Password2
# DB_PORT=5439

In [17]:
# Show all the columns for the datasets
pd.set_option('display.max_columns', 30)

<h4>Airport Codes</h4>

In [18]:
#Read airport codes csv and preview the data
data_airport_codes = pd.read_csv('airport-codes_csv.csv')
data_airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [19]:
#get shape of dataset
data_airport_codes.shape

(55075, 12)

<h4>Immigration Data</h4>

In [20]:
#Read immigration data csv and preview the data
data_immigration = pd.read_csv('immigration_data_sample.csv')
data_immigration.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,NaN,NaN,G,O,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,NaN,G,R,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,76.0,2.0,1.0,20160407,NaN,NaN,G,O,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,25.0,2.0,1.0,20160428,DOH,NaN,G,O,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,19.0,2.0,1.0,20160406,NaN,NaN,Z,K,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [21]:
#Read in July and December immigration data into spark dataframes
df_spark_imm_jul =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat')
df_spark_imm_dec =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat')
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

<h4>Combine Immigration Data Sets</h4>

In [22]:
spark_imm_comb = df_spark_imm_jul.union(df_spark_imm_dec)

In [23]:
spark_imm_comb.show()

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|  1.0|2016.0|   7.0| 254.0| 276.0|    LOS|20636.0|    1.0|     CA|20640.0|  38.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1978.0|09282016|     M|  null|     OZ|6.3092898033E10|00202|      WT|
|  2.0|2016.0|   7.0| 140.0| 140.0|    NYC|20636.0|    1.0|     NY|20657.0|  45.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1971.0|09282016|     F|  null|     DL|6.3092899033E10|09858|      WT|
|  3.0|2016.0|   7.0| 135.0| 135.0|    ORL|20636.0|    1.0|     FL|20657.0|  10.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 2006.0|09282016|     M|  null|     VS|6.3092900933E10|00071|      WT|
|  4.0|2016.0|   7.0| 124.0| 124.0|    TAM|20636.0|    1.0|     FL|20645.0|  17.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1999.0|09282016|     M|  null|     LH|6.3092901833E10|00482|      WT|
|  5.0|2016.0|   7.0| 130.0| 130.0|    LOS|20636.0|    1.0|     CA|20662.0|   1.0|    2.0|  1.0|20160701|    null| null|      G|      K|   null|      M| 2015.0|09282016|     M|  null|     SU|6.3092902733E10|00106|      WT|
|  6.0|2016.0|   7.0| 135.0| 135.0|    SFR|20636.0|    1.0|     CA|20648.0|  51.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1965.0|09282016|     M|  null|     BA|6.3092903633E10|00285|      WT|
|  7.0|2016.0|   7.0| 115.0| 115.0|    OAK|20636.0|    1.0|     CA|20646.0|  13.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 2003.0|09282016|     F|  null|     DY|6.3092904533E10|07067|      WT|
|  8.0|2016.0|   7.0| 438.0| 438.0|    HHW|20636.0|    1.0|     HI|20644.0|  34.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1982.0|09282016|     F|  null|     QF|6.3092905433E10|00003|      WT|
|  9.0|2016.0|   7.0| 131.0| 131.0|    LVG|20636.0|    1.0|     NV|20657.0|  46.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1970.0|09282016|     M|  null|     WK|6.3092906333E10|00002|      WT|
| 10.0|2016.0|   7.0| 140.0| 140.0|    LOS|20636.0|    1.0|     CA|20656.0|  44.0|    2.0|  1.0|20160701|    null| null|      O|      O|   null|      M| 1972.0|09282016|  null|  null|     SU|6.3092907233E10|00106|      WT|
| 12.0|2016.0|   7.0| 131.0| 131.0|    LVG|20636.0|    1.0|     NV|20663.0|  25.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1991.0|09282016|     M|  null|     WK|6.3092909033E10|00002|      WT|
| 13.0|2016.0|   7.0| 140.0| 140.0|    LOS|20636.0|    1.0|     CA|20656.0|  12.0|    2.0|  1.0|20160701|    null| null|      O|      O|   null|      M| 2004.0|09282016|  null|  null|     SU|6.3092910033E10|00106|      WT|
| 14.0|2016.0|   7.0| 135.0| 135.0|    SFR|20636.0|    1.0|     CA|20642.0|  30.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1986.0|09282016|     M|  null|     BA|6.3092911933E10|00285|      WT|
| 15.0|2016.0|   7.0| 140.0| 140.0|    LOS|20636.0|    1.0|     CA|20656.0|  45.0|    2.0|  1.0|20160701|    null| null|      O|      O|   null|      M| 1971.0|09282016|  null|  null|     SU|6.3092912833E10|00106|      WT|
| 16.0|2016.0|   7.0| 135.0| 135.0|    ORL|20636.0|    1.0|     FL|20650.0|  13.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 2003.0|09282016|     F|  null|     VS|6.3092913733E10|00071|      WT|
| 17.0|2016.0|   7.0| 108.0| 108.0|    SEA|20636.0|    1.0|     AK|20642.0|  42.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1974.0|09282016|     M|  null|     DL|6.3092914633E10|00145|      WT|
| 18.0|2016.0|   7.0| 131.0| 131.0|    LVG|20636.0|    1.0|     NV|20657.0|  71.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1945.0|09282016|     M|  null|     WK|6.3092915533E10|00002|      WT|
| 20.0|2016.0|   7.0| 135.0| 135.0|    ORL|20636.0|    1.0|     FL|20652.0|  14.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 2002.0|09282016|     M|  null|     VS|6.3092917333E10|00071|      WT|
| 21.0|2016.0|   7.0| 209.0| 209.0|    BOS|20636.0|    1.0|     MA|20640.0|  60.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1956.0|09282016|     F|  null|     JL|6.3092918233E10|00008|      WT|
| 22.0|2016.0|   7.0| 104.0| 104.0|    LVG|20636.0|    1.0|     NV|20651.0|  25.0|    2.0|  1.0|20160701|    null| null|      G|      O|   null|      M| 1991.0|09282016|     M|  null|     WK|6.3092919133E10|00002|      WT|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

<h4>Read in Data Dictionary</h4>

In [24]:
#read in immigration data dictionary

with open('I94_SAS_Labels_Descriptions.SAS') as f:
    txt = f.read()
    f.seek(0)
    lines = f.readlines()
comment_lines = [line for line in lines if line.startswith('/*') and line.endswith('*/\n')]

In [25]:
clpatt = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [clpatt.match(line) for line in comment_lines]
if not all(m is not None for m in matches):
    for i, m in enumerate(matches):
        if m is None:
            print(i)
print(f'CODE{"":16}', 'DESCRIPTION')
for m in matches:
    print(f'{m.group("code"):20}', m.group('description'))

CODE                 DESCRIPTION
I94YR                4 digit year
I94MON               Numeric month
I94CIT & I94RES      This format shows all the valid and invalid codes for processing
I94PORT              This format shows all the valid and invalid codes for processing
I94MODE              There are missing values as well as not reported (9)
I94BIR               Age of Respondent in Years
COUNT                Used for summary statistics
DTADFILE             Character Date Field - Date added to I-94 Files - CIC does not use
VISAPOST             Department of State where where Visa was issued - CIC does not use
OCCUP                Occupation that will be performed in U.S. - CIC does not use
ENTDEPA              Arrival Flag - admitted or paroled into the U.S. - CIC does not use
ENTDEPD              Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
ENTDEPU              Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
MATFLAG              Match flag - Match of arrival and departure records
BIRYEAR              4 digit year of birth
DTADDTO              Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
GENDER               Non-immigrant sex
INSNUM               INS number
AIRLINE              Airline used to arrive in U.S.
ADMNUM               Admission Number
FLTNO                Flight number of Airline used to arrive in U.S.
VISATYPE             Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [26]:
#Create data dictionary for i94cit i94res columns
re_obj = re.compile(r'\d+^[-+]?[0-9]+$\'(.*)\'.*\'(.*)\'')
i94cit_valid = {}
with open('i94cit.txt') as f:
      for line in f:
        (key,val) = line.split('=')
        i94cit_valid[int(key.strip())] = val.strip().strip("''").rstrip('\n')

In [27]:
print(i94cit_valid)

{582: 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)', 236: 'AFGHANISTAN', 101: 'ALBANIA', 316: 'ALGERIA', 102: 'ANDORRA', 324: 'ANGOLA', 529: 'ANGUILLA', 518: 'ANTIGUA-BARBUDA', 687: 'ARGENTINA ', 151: 'ARMENIA', 532: 'ARUBA', 438: 'AUSTRALIA', 103: 'AUSTRIA', 152: 'AZERBAIJAN', 512: 'BAHAMAS', 298: 'BAHRAIN', 274: 'BANGLADESH', 513: 'BARBADOS', 104: 'BELGIUM', 581: 'BELIZE', 386: 'BENIN', 509: 'BERMUDA', 153: 'BELARUS', 242: 'BHUTAN', 688: 'BOLIVIA', 717: 'BONAIRE, ST EUSTATIUS, SABA', 164: 'BOSNIA-HERZEGOVINA', 336: 'BOTSWANA', 689: 'BRAZIL', 525: 'BRITISH VIRGIN ISLANDS', 217: 'BRUNEI', 105: 'BULGARIA', 393: 'BURKINA FASO', 243: 'BURMA', 375: 'BURUNDI', 310: 'CAMEROON', 326: 'CAPE VERDE', 526: 'CAYMAN ISLANDS', 383: 'CENTRAL AFRICAN REPUBLIC', 384: 'CHAD', 690: 'CHILE', 245: 'CHINA, PRC', 721: 'CURACAO', 270: 'CHRISTMAS ISLAND', 271: 'COCOS ISLANDS', 691: 'COLOMBIA', 317: 'COMOROS', 385: 'CONGO', 467: 'COOK ISLANDS', 575: 'COSTA RICA', 165: 'CROATIA', 584: 'CUBA', 218: 'CYPRUS', 140: 'CZECH REPUBLIC', 723: 'FAROE ISLANDS (PART OF DENMARK)', 108: 'DENMARK', 322: 'DJIBOUTI', 519: 'DOMINICA', 585: 'DOMINICAN REPUBLIC', 240: 'EAST TIMOR', 692: 'ECUADOR', 368: 'EGYPT', 576: 'EL SALVADOR', 399: 'EQUATORIAL GUINEA', 372: 'ERITREA', 109: 'ESTONIA', 369: 'ETHIOPIA', 604: 'FALKLAND ISLANDS', 413: 'FIJI', 110: 'FINLAND', 111: 'FRANCE', 601: 'FRENCH GUIANA', 411: 'FRENCH POLYNESIA', 387: 'GABON', 338: 'GAMBIA', 758: 'GAZA STRIP', 154: 'GEORGIA', 112: 'GERMANY', 339: 'GHANA', 143: 'GIBRALTAR', 113: 'GREECE', 520: 'GRENADA', 507: 'GUADELOUPE', 577: 'GUATEMALA', 382: 'GUINEA', 327: 'GUINEA-BISSAU', 603: 'GUYANA', 586: 'HAITI', 726: 'HEARD AND MCDONALD IS.', 149: 'HOLY SEE/VATICAN', 528: 'HONDURAS', 206: 'HONG KONG', 114: 'HUNGARY', 115: 'ICELAND', 213: 'INDIA', 759: 'INDIAN OCEAN AREAS (FRENCH)', 729: 'INDIAN OCEAN TERRITORY', 204: 'INDONESIA', 249: 'IRAN', 250: 'IRAQ', 116: 'IRELAND', 251: 'ISRAEL', 117: 'ITALY', 388: 'IVORY COAST', 514: 'JAMAICA', 209: 'JAPAN', 253: 'JORDAN', 201: 'KAMPUCHEA', 155: 'KAZAKHSTAN', 340: 'KENYA', 414: 'KIRIBATI', 732: 'KOSOVO', 272: 'KUWAIT', 156: 'KYRGYZSTAN', 203: 'LAOS', 118: 'LATVIA', 255: 'LEBANON', 335: 'LESOTHO', 370: 'LIBERIA', 381: 'LIBYA', 119: 'LIECHTENSTEIN', 120: 'LITHUANIA', 121: 'LUXEMBOURG', 214: 'MACAU', 167: 'MACEDONIA', 320: 'MADAGASCAR', 345: 'MALAWI', 273: 'MALAYSIA', 220: 'MALDIVES', 392: 'MALI', 145: 'MALTA', 472: 'MARSHALL ISLANDS', 511: 'MARTINIQUE', 389: 'MAURITANIA', 342: 'MAURITIUS', 760: 'MAYOTTE (AFRICA - FRENCH)', 473: 'MICRONESIA, FED. STATES OF', 157: 'MOLDOVA', 122: 'MONACO', 299: 'MONGOLIA', 735: 'MONTENEGRO', 521: 'MONTSERRAT', 332: 'MOROCCO', 329: 'MOZAMBIQUE', 371: 'NAMIBIA', 440: 'NAURU', 257: 'NEPAL', 123: 'NETHERLANDS', 508: 'NETHERLANDS ANTILLES', 409: 'NEW CALEDONIA', 464: 'NEW ZEALAND', 579: 'NICARAGUA', 390: 'NIGER', 343: 'NIGERIA', 470: 'NIUE', 275: 'NORTH KOREA', 124: 'NORWAY', 256: 'OMAN', 258: 'PAKISTAN', 474: 'PALAU', 743: 'PALESTINE', 504: 'PANAMA', 441: 'PAPUA NEW GUINEA', 693: 'PARAGUAY', 694: 'PERU', 260: 'PHILIPPINES', 416: 'PITCAIRN ISLANDS', 107: 'POLAND', 126: 'PORTUGAL', 297: 'QATAR', 748: 'REPUBLIC OF SOUTH SUDAN', 321: 'REUNION', 127: 'ROMANIA', 158: 'RUSSIA', 376: 'RWANDA', 128: 'SAN MARINO', 330: 'SAO TOME AND PRINCIPE', 261: 'SAUDI ARABIA', 391: 'SENEGAL', 142: 'SERBIA AND MONTENEGRO', 745: 'SERBIA', 347: 'SEYCHELLES', 348: 'SIERRA LEONE', 207: 'SINGAPORE', 141: 'SLOVAKIA', 166: 'SLOVENIA', 412: 'SOLOMON ISLANDS', 397: 'SOMALIA', 373: 'SOUTH AFRICA', 276: 'SOUTH KOREA', 129: 'SPAIN', 244: 'SRI LANKA', 346: 'ST. HELENA', 522: 'ST. KITTS-NEVIS', 523: 'ST. LUCIA', 502: 'ST. PIERRE AND MIQUELON', 524: 'ST. VINCENT-GRENADINES', 716: 'SAINT BARTHELEMY', 736: 'SAINT MARTIN', 749: 'SAINT MAARTEN', 350: 'SUDAN', 602: 'SURINAME', 351: 'SWAZILAND', 130: 'SWEDEN', 131: 'SWITZERLAND', 262: 'SYRIA', 268: 'TAIWAN', 159: 'TAJIKISTAN', 353: 'TANZANIA', 263: 'THAILAND', 304: 'TOGO', 417: 'TONGA', 516: 'TRINIDAD AND TOBAGO', 323: 'TUNISIA', 264: 'TURKEY', 161: 'TURKMENISTAN', 527: 'TURKS AND CAICOS ISLANDS', 420: 'TUVALU', 352: 'UGANDA', 162: 'UKRAINE', 296: 'UNITED ARAB EMIRATES', 135: 'UNITED KINGDOM', 695: 'URUGUAY', 163: 'UZBEKISTAN', 410: 'VANUATU', 696: 'VENEZUELA', 266: 'VIETNAM', 469: 'WALLIS AND FUTUNA ISLANDS', 757: 'WEST INDIES (FRENCH)', 333: 'WESTERN SAHARA', 465: 'WESTERN SAMOA', 216: 'YEMEN', 139: 'YUGOSLAVIA', 301: 'ZAIRE', 344: 'ZAMBIA', 315: 'ZIMBABWE', 403: 'INVALID: AMERICAN SAMOA', 712: 'INVALID: ANTARCTICA', 700: 'INVALID: BORN ON BOARD SHIP', 719: 'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)', 574: 'INVALID: CANADA', 720: 'INVALID: CANTON AND ENDERBURY ISLS', 106: 'INVALID: CZECHOSLOVAKIA', 739: 'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)', 394: 'INVALID: FRENCH SOUTHERN AND ANTARCTIC', 501: 'INVALID: GREENLAND', 404: 'INVALID: GUAM', 730: 'INVALID: INTERNATIONAL WATERS', 731: 'INVALID: JOHNSON ISLAND', 471: 'INVALID: MARIANA ISLANDS, NORTHERN', 737: 'INVALID: MIDWAY ISLANDS', 753: 'INVALID: MINOR OUTLYING ISLANDS - USA', 740: 'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)', 710: 'INVALID: NON-QUOTA IMMIGRANT', 505: 'INVALID: PUERTO RICO', 0: 'INVALID: STATELESS', 705: 'INVALID: STATELESS', 583: 'INVALID: UNITED STATES', 407: 'INVALID: UNITED STATES', 999: 'INVALID: UNKNOWN', 239: 'INVALID: UNKNOWN COUNTRY', 134: 'INVALID: USSR', 506: 'INVALID: U.S. VIRGIN ISLANDS', 755: 'INVALID: WAKE ISLAND', 311: 'Collapsed Tanzania (should not show)', 741: 'Collapsed Curacao (should not show)', 54: 'No Country Code (54)', 100: 'No Country Code (100)', 187: 'No Country Code (187)', 190: 'No Country Code (190)', 200: 'No Country Code (200)', 219: 'No Country Code (219)', 238: 'No Country Code (238)', 277: 'No Country Code (277)', 293: 'No Country Code (293)', 300: 'No Country Code (300)', 319: 'No Country Code (319)', 365: 'No Country Code (365)', 395: 'No Country Code (395)', 400: 'No Country Code (400)', 485: 'No Country Code (485)', 503: 'No Country Code (503)', 589: 'No Country Code (589)', 592: 'No Country Code (592)', 791: 'No Country Code (791)', 849: 'No Country Code (849)', 914: 'No Country Code (914)', 944: 'No Country Code (944)', 996: 'No Country Code (996)'}

In [28]:
#Create data dictionary for i94addr columns
i94addr_valid = {}
with open('i94addr.txt') as f:
     for line in f:
        (key,val) = line.split('=')
        i94addr_valid[key.strip().strip("''")] = val.strip().strip("''").rstrip('\n')

In [29]:
print(i94addr_valid)

{'AL': 'ALABAMA', 'AK': 'ALASKA', 'AZ': 'ARIZONA', 'AR': 'ARKANSAS', 'CA': 'CALIFORNIA', 'CO': 'COLORADO', 'CT': 'CONNECTICUT', 'DE': 'DELAWARE', 'DC': 'DIST. OF COLUMBIA', 'FL': 'FLORIDA', 'GA': 'GEORGIA', 'GU': 'GUAM', 'HI': 'HAWAII', 'ID': 'IDAHO', 'IL': 'ILLINOIS', 'IN': 'INDIANA', 'IA': 'IOWA', 'KS': 'KANSAS', 'KY': 'KENTUCKY', 'LA': 'LOUISIANA', 'ME': 'MAINE', 'MD': 'MARYLAND', 'MA': 'MASSACHUSETTS', 'MI': 'MICHIGAN', 'MN': 'MINNESOTA', 'MS': 'MISSISSIPPI', 'MO': 'MISSOURI', 'MT': 'MONTANA', 'NC': 'N. CAROLINA', 'ND': 'N. DAKOTA', 'NE': 'NEBRASKA', 'NV': 'NEVADA', 'NH': 'NEW HAMPSHIRE', 'NJ': 'NEW JERSEY', 'NM': 'NEW MEXICO', 'NY': 'NEW YORK', 'OH': 'OHIO', 'OK': 'OKLAHOMA', 'OR': 'OREGON', 'PA': 'PENNSYLVANIA', 'PR': 'PUERTO RICO', 'RI': 'RHODE ISLAND', 'SC': 'S. CAROLINA', 'SD': 'S. DAKOTA', 'TN': 'TENNESSEE', 'TX': 'TEXAS', 'UT': 'UTAH', 'VT': 'VERMONT', 'VI': 'VIRGIN ISLANDS', 'VA': 'VIRGINIA', 'WV': 'W. VIRGINIA', 'WA': 'WASHINGTON', 'WI': 'WISCONSON', 'WY': 'WYOMING', '99': 'All Other Codes'}

In [30]:
#Read in SAS files
# imm_fname = '../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat'
# data_imm_dec = pd.read_sas(imm_fname, 'sas7bdat', encoding="ISO-8859-1")

In [31]:
#preview the data
#data_imm_dec.head()

In [32]:
#get shape of dataset
#data_imm_dec.shape

In [33]:
#Read in SAS files
#imm_fname = '../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat'
#data_imm_july = pd.read_sas(imm_fname, 'sas7bdat', encoding="ISO-8859-1")

In [34]:
#concantenate dataframes
#data_imm = pd.concat([data_imm_dec, data_imm_july])

In [35]:
#reset indices
#data_imm = data_imm.reset_index(drop=True)

In [36]:
#data_imm.head()

In [37]:
# #how many different types of visas are listed within the dataset?
# data_imm['visatype'].nunique()

In [38]:
#DELETE THIS IF I DON'T NEED IT
# re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
# i94port_valid = {}
# with open('i94port_valid.txt') as f:
#      for line in f:
#         match = re_obj.search(line)
#         i94port_valid[match[1]]=[match[2]]

In [39]:
# print(i94port_valid)

<h4>Temperature Data</h4>

In [40]:
#Read temperature dataset from link provided by Udacity into spark
spark_df_temp = spark.read.format("csv").option("header", "true").load("../../data2/GlobalLandTemperaturesByCity.csv")

In [41]:

# fname = '../../data2/GlobalLandTemperaturesByCity.csv'
# data_temp = pd.read_csv(fname)
# data_temp.head()

In [42]:
# #get shape of dataset
# data_temp.shape

<h4>US Cities Demographics</h4> - probaby delete

In [43]:
#Read immigration data csv and preview the data
data_demo = pd.read_csv('us-cities-demographics.csv', sep=';')
data_demo.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [44]:
#get shape of dataset
data_demo.shape

(2891, 12)

In [45]:
# #write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [46]:
# Performing cleaning tasks here

<h4>Clean Combined Immigration Data</h4>

<h4>Drop Unecessary Columns</h4>
The combined immigatation dataset contains several columns with values of NaN. The first step is to identify those columns and if those columns are not needed, remove the columms.
<ul>
    <li>occup - occupation that will be performed in the US. This column does not seem relevant to my project so I removed the column</li>
    <li>entdepu - Departure Flag - Departed, lost I-94 or is deceased. This column does not seem relevant to my project so I removed the column</li>
    <li>insnum - INS number </li>
    </ul>

In [47]:
def clean_i94_data(file):
    '''
    Filters out invalid entries for i94port column using spark filter function.
    '''
    
    # Read I94 data into Spark
    df_immigration = spark.read.format('com.github.saurfang.sas.spark').load(file)

    # Filter where i94port is invalid
    df_immigration = df_immigration.filter(df_immigration.i94port.isin(list(i94port_valid.keys())))

    return df_immigration

In [48]:
# #columns to be dropped
# col_drop = ['occup', 'entdepu', 'insnum']

In [49]:
# data_imm.drop(axis=1, columns=col_drop)

<h4>Clean Airport Codes</h4> - probably delete this

<h4>Drop Unnecessary Columns</h4>
The airport codes dataset contains one column with several NaNs. The first step is to identify those columns and if those columns are not needed, remove the columms.
<ul>
    <li>local_code - local airport code. Column is not needed for my dataset</li>
    <li>gps_code - GPS codes</li>
    </ul>

In [50]:
#columns to be dropped
col_drop = ['local_code', 'gps_code']

In [51]:
data_airport_codes.drop(axis=1, columns=col_drop)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,iata_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,NaN,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,NaN,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,NaN,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,NaN,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,NaN,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810.0,NaN,US,US-AZ,Cordes,NaN,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038.0,NaN,US,US-CA,Barstow,NaN,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87.0,NaN,US,US-CA,Biggs,NaN,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350.0,NaN,US,US-CA,Pine Valley,NaN,"-116.4597417, 32.7273736"
10,00CO,closed,Cass Field,4830.0,NaN,US,US-CO,Briggsdale,NaN,"-104.344002, 40.622202"
11,00FA,small_airport,Grass Patch Airport,53.0,NaN,US,US-FL,Bushnell,NaN,"-82.21900177001953, 28.64550018310547"
12,00FD,heliport,Ringhaver Heliport,25.0,NaN,US,US-FL,Riverview,NaN,"-82.34539794921875, 28.846599578857422"
13,00FL,small_airport,River Oak Airport,35.0,NaN,US,US-FL,Okeechobee,NaN,"-80.96920013427734, 27.230899810791016"
14,00GA,small_airport,Lt World Airport,700.0,NaN,US,US-GA,Lithonia,NaN,"-84.06829833984375, 33.76750183105469"
15,00GE,heliport,Caffrey Heliport,957.0,NaN,US,US-GA,Hiram,NaN,"-84.73390197753906, 33.88420104980469"
16,00HI,heliport,Kaupulehu Heliport,43.0,NaN,US,US-HI,Kailua/Kona,NaN,"-155.980233, 19.832715"
17,00ID,small_airport,Delta Shores Airport,2064.0,NaN,US,US-ID,Clark Fork,NaN,"-116.21399688720703, 48.145301818847656"
18,00IG,small_airport,Goltl Airport,3359.0,NaN,US,US-KS,McDonald,NaN,"-101.395994, 39.724028"
19,00II,heliport,Bailey Generation Station Heliport,600.0,NaN,US,US-IN,Chesterton,NaN,"-87.122802734375, 41.644500732421875"
20,00IL,small_airport,Hammer Airport,840.0,NaN,US,US-IL,Polo,NaN,"-89.5604019165039, 41.97840118408203"
21,00IN,heliport,St Mary Medical Center Heliport,634.0,NaN,US,US-IN,Hobart,NaN,"-87.2605972290039, 41.51139831542969"
22,00IS,small_airport,Hayenga's Cant Find Farms Airport,820.0,NaN,US,US-IL,Kings,NaN,"-89.1229019165039, 40.02560043334961"
23,00KS,small_airport,Hayden Farm Airport,1100.0,NaN,US,US-KS,Gardner,NaN,"-94.93049621582031, 38.72779846191406"
24,00KY,small_airport,Robbins Roost Airport,1265.0,NaN,US,US-KY,Stanford,NaN,"-84.61969757080078, 37.409400939941406"
25,00LA,heliport,Shell Chemical East Site Heliport,15.0,NaN,US,US-LA,Gonzales,NaN,"-90.980833, 30.191944"
26,00LL,heliport,Ac & R Components Heliport,600.0,NaN,US,US-IL,Chatham,NaN,"-89.70559692382812, 39.66529846191406"
27,00LS,small_airport,Lejeune Airport,12.0,NaN,US,US-LA,Esterwood,NaN,"-92.42939758300781, 30.13629913330078"
28,00MD,small_airport,Slater Field,45.0,NaN,US,US-MD,Federalsburg,NaN,"-75.75379943847656, 38.75709915161133"
29,00MI,heliport,Dow Chemical Heliport,588.0,NaN,US,US-MI,Ludington,NaN,"-86.41670227050781, 43.94940185546875"
...,...,...,...,...,...,...,...,...,...,...
55045,ZYAS,medium_airport,Anshan Air Base,NaN,AS,CN,CN-21,Anshan,AOG,"122.853996, 41.105301"
55046,ZYCC,medium_airport,Longjia Airport,706.0,AS,CN,CN-22,Changchun,CGQ,"125.684997559, 43.9962005615"
55047,ZYCH,medium_airport,Changhai Airport,80.0,AS,CN,CN-21,Changhai,CNI,"122.666944444, 39.2666666667"
55048,ZYCY,medium_airport,Chaoyang Airport,568.0,AS,CN,CN-21,Chaoyang,CHG,"120.434998, 41.538101"
55049,ZYDU,medium_airport,Wudalianchi Dedu Airport,984.0,AS,CN,CN-23,Wudalianchi,DTU,"126.133, 48.445"
55050,ZYFX,small_airport,Fuxin Airport,548.0,AS,CN,CN-21,Fuxin,NaN,"121.718122, 42.069014"
55051,ZYFY,medium_airport,Dongji Aiport,NaN,AS,CN,CN-23,Fuyuan,FYJ,"134.366447, 48.199494"
55052,ZYHB,large_airport,Taiping Airport,457.0,AS,CN,CN-23,Harbin,HRB,"126.25, 45.6234016418457"
55053,ZYHE,medium_airport,Heihe Airport,8530.0,AS,CN,CN-23,Heihe,HEK,"127.308883667, 50.1716209371"
55054,ZYJL,small_airport,Jilin Airport,NaN,AS,CN,CN-22,Jilin,JIL,"126.396004, 44.002201"
55055,ZYJM,medium_airport,Jiamusi Airport,262.0,AS,CN,CN-23,Jiamusi,JMU,"130.464996338, 46.84339904789999"
55056,ZYJS,medium_airport,Jiansanjiang Airport,NaN,AS,CN,CN-23,Jiansanjiang,JSJ,"132.660278, 47.11"
55057,ZYJX,medium_airport,Jixi Xingkaihu Airport,760.0,AS,CN,CN-23,Jixi,JXA,"131.193, 45.293"
55058,ZYJZ,medium_airport,Jinzhou Airport,NaN,AS,CN,CN-21,Jinzhou,JNZ,"121.06199645996094, 41.10139846801758"
55059,ZYLD,medium_airport,Lindu Airport,791.0,AS,CN,CN-23,Yichun,LDS,"129.019125, 47.7520555556"
55060,ZYLS,medium_airport,Yushu Batang Airport,12816.0,AS,CN,CN-63,Yushu,YUS,"97.0363888889, 32.836388888900004"
55061,ZYMD,medium_airport,Mudanjiang Hailang International Airport,883.0,AS,CN,CN-23,Mudanjiang,MDG,"129.569000244, 44.5241012573"
55062,ZYMH,medium_airport,Gu-Lian Airport,1836.0,AS,CN,CN-23,Mohe,OHE,"122.43, 52.912777777799995"
55063,ZYQQ,medium_airport,Qiqihar Sanjiazi Airport,477.0,AS,CN,CN-23,Qiqihar,NDG,"123.91799926757812, 47.239601135253906"
55064,ZYSQ,medium_airport,Songyuan Chaganhu Airport,459.0,AS,CN,CN-22,Qian Gorlos Mongol Autonomous County,YSQ,"124.550178, 44.938114"
55065,ZYTH,small_airport,Tahe Airport,1240.0,AS,CN,CN-23,Tahe,NaN,"124.720222222, 52.2244444444"
55066,ZYTL,large_airport,Zhoushuizi Airport,107.0,AS,CN,CN-21,Dalian,DLC,"121.53900146484375, 38.9656982421875"
55067,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,1200.0,AS,CN,CN-22,Tonghua,TNH,"125.703333333, 42.2538888889"
55068,ZYTX,large_airport,Taoxian Airport,198.0,AS,CN,CN-21,Shenyang,SHE,"123.48300170898438, 41.639801025390625"
55069,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,624.0,AS,CN,CN-22,Yanji,YNJ,"129.451004028, 42.8828010559"
55070,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,YKH,"122.3586, 40.542524"
55071,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,NaN,"123.49600219726562, 41.784400939941406"
55072,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,"1.4825, 51.894444"
55073,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,"47.296388888900005, -11.584277777799999"
55074,ZZZZ,small_airport,Satsuma Ijima Airport,338.0,AS,JP,JP-46,Mishima-Mura,NaN,"130.270556, 30.784722"

<h4>Clean Temperature Data</h4>

Just by previewing the data, we can see lots of NaNs. Those rows will be removed as they are not useful as the temperature data listed by month so I can't make any useful inference from the surrounding data.

In [52]:
spark_df_temp.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|rhus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|rhus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|rhus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|rhus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|rhus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|rhus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|rhus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|rhus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|rhus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|rhus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|rhus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|rhus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|rhus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|rhus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [53]:
# Filter out entries with NaN average temperature
spark_df_temp = spark_df_temp.filter(spark_df_temp.AverageTemperature != 'NaN')

In [54]:
spark_df_temp.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|rhus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|rhus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|rhus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|rhus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|rhus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|rhus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|rhus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|rhus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|rhus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|rhus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|rhus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|rhus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|rhus|Denmark|  57.05N|   10.33E|
|1750-01-01|              1.699|                        1.013|rhus|Denmark|  57.05N|   10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|rhus|Denmark|  57.05N|   10.33E|
|1750-03-01|              5.182|                         3.48|rhus|Denmark|  57.05N|   10.33E|
|1750-04-01|              7.197|                        0.732|rhus|Denmark|  57.05N|   10.33E|
|1750-05-01|             10.634|                        1.351|rhus|Denmark|  57.05N|   10.33E|
|1750-06-01|             14.913|                        1.181|rhus|Denmark|  57.05N|   10.33E|
|1750-07-01|             17.831|                         1.22|rhus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [55]:
#Remove duplicate locations
spark_df_temp = spark_df_temp.dropDuplicates(['City', 'Country'])

In [56]:
spark_df_temp.show()

+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|        dt|  AverageTemperature|AverageTemperatureUncertainty|        City|           Country|Latitude|Longitude|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
|1743-11-01|               3.264|                        1.665|   Allentown|     United States|  40.99N|   74.56W|
|1779-11-01|0.011999999999999985|                        2.714|      Atyrau|        Kazakhstan|  47.42N|   50.92E|
|1825-01-01|  26.069000000000003|                         2.16|     Bintulu|          Malaysia|   2.41N|  113.30E|
|1825-01-01|              26.517|           2.5839999999999996| Butterworth|          Malaysia|   5.63N|  100.09E|
|1845-01-01|              24.995|                        1.871|      Cainta|       Philippines|  15.27N|  120.83E|
|1825-01-01|              24.753|           2.1519999999999997|      Ciamis|         Indonesia|   7.23S|  107.84E|
|1850-01-01|              22.121|           1.5730000000000002|      Dodoma|          Tanzania|   5.63S|   35.52E|
|1840-01-01|  6.2250000000000005|                        2.112|      Fuling|             China|  29.74N|  107.08E|
|1841-01-01| -0.3360000000000001|                        2.695|      Fuyang|             China|  32.95N|  115.85E|
|1856-01-01|              26.901|                        1.359|         Ife|           Nigeria|   7.23N|    4.05E|
|1796-01-01|  14.427999999999999|                        2.395|  Jhunjhunun|             India|  28.13N|   75.45E|
|1857-01-01|               25.32|           1.5130000000000001|      Maxixe|        Mozambique|  23.31S|   35.83E|
|1856-01-01|  26.555000000000003|                        1.308|      Owerri|           Nigeria|   5.63N|    6.46E|
|1824-01-01|  24.958000000000002|                        1.182|Puerto Plata|Dominican Republic|  20.09N|   69.95W|
|1832-01-01|              22.288|                        1.587| Santo Andr|            Brazil|  23.31S|   46.31W|
|1857-01-01|  18.581000000000003|           1.8119999999999998|      Soweto|      South Africa|  26.52S|   28.66E|
|1825-01-01|              25.862|                        2.175|    Sukabumi|         Indonesia|   7.23S|  106.22E|
|1743-11-01|               7.084|           1.8969999999999998|    Toulouse|            France|  44.20N|    2.24E|
|1835-01-01|              13.086|                        1.942|  Tulancingo|            Mexico|  20.09N|   98.96W|
|1849-01-01|  26.531999999999996|                        1.416|      Anyama|     Cte D'Ivoire|   5.63N|    4.84W|
+----------+--------------------+-----------------------------+------------+------------------+--------+---------+
only showing top 20 rows

In [57]:
# #drop dates earlier than 2000-01-01
# data_temp[data_temp.dt >= '2000-01-01']

In [58]:
# #drop rows with NaNs in AverageTemperature column
# data_temp.dropna(subset=['AverageTemperature'])

NameError: name 'data_temp' is not defined

<h4>Clean US Cities Demographics</h4>

In [ ]:
data_demo

First we want to ensure that the number of males plus number of females adds up to total population. 
Next we want to ensure that the number of foreign born residents and veteran residents is less than the total population

In [ ]:
i=0
for index, row in data_demo.iterrows():
    if(row['Male Population'] + row['Female Population'] != row['Total Population']):
       print("Issue with number of males or females are row: ", row)
       print(i)
    elif(row['Number of Veterans'] > row['Total Population'] or row['Foreign-born'] > row['Total Population']):
       print("Issue with number of foreign born or number of veterans at row: ", row)
       print(i)
    i+=1

It seems like there are three rows which contain number of Males and Females listed as NaN. Since there are so few rows with this issue, I decided that it is appropriate to remove those rows

In [ ]:
drop_cols = ['Male Population', 'Female Population']

In [ ]:
#drop those values in the Male Population and Female Population columns which contain NaNs
data_demo = data_demo.dropna(subset=drop_cols)

In [ ]:
#run loop again to ensure drop worked
i=0
for index, row in data_demo.iterrows():
    if(row['Male Population'] + row['Female Population'] != row['Total Population']):
       print("Issue with number of males or females are row: ", row)
       print(i)
    elif(row['Number of Veterans'] > row['Total Population'] or row['Foreign-born'] > row['Total Population']):
       print("Issue with number of foreign born or number of veterans at row: ", row)
       print(i)
    i+=1

In [59]:
#convert data_demo data frame to spark data frame
data_demo_spark = spark.createDataFrame(data_demo)

In [60]:
data_demo_spark.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|        40601.0|          41862.0|           82463|            1562.0|     30908.0|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|        44129.0|          49500.0|           93629|            4147.0|     32935.0|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|        38040.0|          46799.0|           84839|            4819.0|      8229.0|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|        88127.0|          87105.0|          175232|            5821.0|     33878.0|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|       138040.0|         143873.0|          281913|            5829.0|     86253.0|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|        56229.0|          62432.0|          118661|            6634.0|      7517.0|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|        38712.0|          41971.0|           80683|            4815.0|      8355.0|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|        51629.0|          56860.0|          108489|            3800.0|     37038.0|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|        41762.0|          43270.0|           85032|            5783.0|      3269.0|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|        51751.0|          58077.0|          109828|            5204.0|     16315.0|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|        41051.0|          35317.0|           76368|            4187.0|     13234.0|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|        41051.0|          35317.0|           76368|            4187.0|     13234.0|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|       741270.0|         826172.0|         1567442|           61995.0|    205339.0|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|       192354.0|         197601.0|          389955|           23978.0|     40270.0|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|       192354.0|         197601.0|          389955|           23978.0|     40270.0|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|        36850.0|          37165.0|           74015|            4312.0|     15365.0|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|       149690.0|         154695.0|          304385|           17728.0|     28187.0|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|       124305.0|         131484.0|          255789|            4921.0|     68427.0|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|        60142.0|          60829.0|          120971|            3736.0|     25000.0|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|        63278.0|          62938.0|          126216|            4426.0|     52281.0|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

I chose to use a star schema with the immigration dataset chosen to be the fact table and the temperature dataset, airport codes, city demographics chosen to be dimension tables.

<h4>Fact Table</h4>

The fact table imm_fact is as shown below <br>
cicid                 INTEGER <br>
i94yr                 INTEGER<br>
i94mon                INTEGER<br>
i94cit                INTEGER<br>
i94res                INTEGER<br>
i94port               CHAR(3)<br>
arrdate               INTEGER<br>
i94mode               INTEGER<br>
i94addr               CHAR(3)<br>
depdate               INTEGER<br>
i94bir                INTEGER<br>
i94visa               INTEGER<br>
count                 INTEGER<br>
dtadfile              VARCHAR<br>
visapost              CHAR(3)<br>
entdepa               CHAR(1)<br>
entdepd               CHAR(1)<br>
matflag               CHAR(1)<br>
biryear               INTEGER<br>
dtaddto               INTEGER<br>
gender                CHAR(1)<br>
airline               CHAR(2)<br>
admnum                INTEGER<br>
fltno                 VARCHAR<br>
visatype              VARCHAR<br>

<h4>Dimension Tables</h4>

The table <b>dim_country_origin</b> is shown below using the i94cit i94res columns from the immigration data dataset <br>
country_code  INTEGER<br>
country_name  VARCHAR

The dimension table <b>dim_destination</b> is shown below using the i94addr column from the immigration dataset <br>
state_abb  CHAR(2)<br>
#city VARCHAR - maybe not use this one

The dimension table <b>dim_visa_status</b> is shown below using the VISATYPE column<br>
visa_type VARCHAR  <br>

The dimension table <b>dim_temp</b> is shown below using the city column from the temperature dataset<br>
city VARCHAR  <br>
Country  VARCHAR <br>
monthly_avg_temp INTEGER

The dimension table <b>dim_demo_city</b> is shown below using the columns<br>
city VARCHAR <br>
state VARCHAR <br>
number_of_veterans INTEGER <br>
foreign_born INTEGER <br>
race VARCHAR <br>
count INTEGER

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

The table <b>dim_visa_status</b> can be created by utilizing insert statements as there is not a lot of variety. There are 17 different types of visas within the dataset

The table <b>dim_country_origin</b> table can be created by reading the code values from the i94cit i94res columns from the immigration dataset. Also, the description for each code has to be parsed to the country_name column.

The table <b>dim_destination</b> table can be created by reading the column i94addr

The table <b>dim_temp</b> can be created by reading the City, Country and AverageTemperature columns respectively from the temperature dataset.

The table <b>dim_demo_city</b> can be created from the us cities demographics dataset using the columns:<br>
City <br>State<br> Number of Veterans<br> Foreign-born <br>Race<br> Count

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# #Build database connection
# conn = psycopg2.connect(CONN_STRING)
# conn.set_session(autocommit=True)
# cur = conn.cursor()

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.