# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [40]:
#import libraries
import pandas as pd
import configparser
import boto3
import pandas as pd
import re
import psycopg2

<h3>2 - Questions</h3>

<ol> 
    <li>Which cities do immigrants tend to move and where did they come from?</li>
<li>Does temperature play a role on where people on temporary visas go?</li>
</ol>

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc?

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

The data sets used for this project are airport codes, immigration data, us cities demographics data, and temperature data
<h4>Airport Codes</h4>
Airport codes may refer to either IATA airport code, a three-letter code which is used in passenger reservation, ticketing and baggage-handling systems, or the ICAO airport code which is a four letter code used by ATC systems and for airports that do not have an IATA airport code. The data was provided by Udacity which was obtained from <a href="https://datahub.io/core/airport-codes#data">Data Hub</a>.
<h4>Immigration Data</h4>
The data comes from the US National Tourism and Trade Office and provided by Udacity. A data dictionary is provided within the file I94_SAS_Labels_Descriptions.SAS.
The data set was taken from <a href="https://travel.trade.gov/research/reports/i94/historical/2016.html">this link</a>.
The dataset can be previewed from the immigration_data_sample.csv file. The full dataset consists of several SAS files which are located within the
SAS_data folder. 
<h4>Temperature Data</h4>
The dataset is provided by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0 </a>.
<h4>US Cities Demographics</h4>
The data comes from <a href="https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/">OpenSoft</a>. The dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000. This data comes from the US Census Bureau's 2015 American Community Survey <a href="https://www.census.gov/data/developers/about/terms-of-service.html">and is referenced in this link. </a>

In [2]:
#Get AWS credentials
config = configparser.ConfigParser()
config.read('dwh.cfg')
AWS_ACCESS_KEY_ID = config.get('AWS', 'AWS_ACCESS_KEY_ID')
AWS_SECRET_ACCESS_KEY = config.get('AWS', 'AWS_SECRET_ACCESS_KEY')
s3 = boto3.resource('s3', aws_access_key_id = AWS_ACCESS_KEY_ID, aws_secret_access_key = AWS_SECRET_ACCESS_KEY)

In [3]:
# Show all the columns for the datasets
pd.set_option('display.max_columns', 30)

<h4>Airport Codes</h4>

In [4]:
#Read airport codes csv and preview the data
data_airport_codes = pd.read_csv('airport-codes_csv.csv')
data_airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [5]:
#get shape of dataset
data_airport_codes.shape

(55075, 12)

<h4>Immigration Data</h4>

In [6]:
#Read immigration data csv and preview the data
data_immigration = pd.read_csv('immigration_data_sample.csv')
data_immigration.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,NaN,NaN,G,O,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,NaN,G,R,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,76.0,2.0,1.0,20160407,NaN,NaN,G,O,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,25.0,2.0,1.0,20160428,DOH,NaN,G,O,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,19.0,2.0,1.0,20160406,NaN,NaN,Z,K,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [7]:
#Read in SAS files
imm_fname = '../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat'
data_imm_dec = pd.read_sas(imm_fname, 'sas7bdat', encoding="ISO-8859-1")

In [8]:
#preview the data
data_imm_dec.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,46.0,2016.0,12.0,129.0,129.0,HOU,20789.0,1.0,TX,20802.0,46.0,1.0,1.0,20161201,MDD,NaN,H,O,NaN,M,1970.0,05262018,M,NaN,RS,9.755414e+10,7715,E2
1,56.0,2016.0,12.0,245.0,245.0,NEW,20789.0,1.0,OH,20835.0,28.0,3.0,1.0,20161201,BEJ,NaN,U,O,NaN,M,1988.0,D/S,F,NaN,CA,9.062372e+10,819,F1
2,67.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,MD,20794.0,48.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1968.0,06012017,M,5920,NaN,8.010503e+10,NaN,B2
3,68.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20792.0,46.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1970.0,06012017,F,5920,NaN,8.010511e+10,NaN,B2
4,69.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,HI,20792.0,48.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1968.0,06012017,M,5920,NaN,8.010511e+10,NaN,B2

In [9]:
#get shape of dataset
data_imm_dec.shape

(3432990, 28)

In [10]:
#Read in SAS files
imm_fname = '../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat'
data_imm_july = pd.read_sas(imm_fname, 'sas7bdat', encoding="ISO-8859-1")

In [11]:
#preview the data
data_imm_july.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,1.0,2016.0,7.0,254.0,276.0,LOS,20636.0,1.0,CA,20640.0,38.0,2.0,1.0,20160701,NaN,NaN,G,O,NaN,M,1978.0,09282016,M,NaN,OZ,6.309290e+10,00202,WT
1,2.0,2016.0,7.0,140.0,140.0,NYC,20636.0,1.0,NY,20657.0,45.0,2.0,1.0,20160701,NaN,NaN,G,O,NaN,M,1971.0,09282016,F,NaN,DL,6.309290e+10,09858,WT
2,3.0,2016.0,7.0,135.0,135.0,ORL,20636.0,1.0,FL,20657.0,10.0,2.0,1.0,20160701,NaN,NaN,G,O,NaN,M,2006.0,09282016,M,NaN,VS,6.309290e+10,00071,WT
3,4.0,2016.0,7.0,124.0,124.0,TAM,20636.0,1.0,FL,20645.0,17.0,2.0,1.0,20160701,NaN,NaN,G,O,NaN,M,1999.0,09282016,M,NaN,LH,6.309290e+10,00482,WT
4,5.0,2016.0,7.0,130.0,130.0,LOS,20636.0,1.0,CA,20662.0,1.0,2.0,1.0,20160701,NaN,NaN,G,K,NaN,M,2015.0,09282016,M,NaN,SU,6.309290e+10,00106,WT

In [12]:
#get shape of dataset
data_imm_july.shape

(4265031, 28)

<h4>Combine Immigration Data Sets</h4>

In [13]:
#concantenate dataframes
data_imm = pd.concat([data_imm_dec, data_imm_july])

In [14]:
#reset indices
data_imm = data_imm.reset_index(drop=True)

In [15]:
data_imm.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,46.0,2016.0,12.0,129.0,129.0,HOU,20789.0,1.0,TX,20802.0,46.0,1.0,1.0,20161201,MDD,NaN,H,O,NaN,M,1970.0,05262018,M,NaN,RS,9.755414e+10,7715,E2
1,56.0,2016.0,12.0,245.0,245.0,NEW,20789.0,1.0,OH,20835.0,28.0,3.0,1.0,20161201,BEJ,NaN,U,O,NaN,M,1988.0,D/S,F,NaN,CA,9.062372e+10,819,F1
2,67.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,MD,20794.0,48.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1968.0,06012017,M,5920,NaN,8.010503e+10,NaN,B2
3,68.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20792.0,46.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1970.0,06012017,F,5920,NaN,8.010511e+10,NaN,B2
4,69.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,HI,20792.0,48.0,2.0,1.0,20161201,NAS,NaN,A,D,NaN,M,1968.0,06012017,M,5920,NaN,8.010511e+10,NaN,B2

In [39]:
#how many different types of visas are listed within the dataset?
data_imm['visatype'].nunique()

17

In [16]:
#read in immigration data dictionary

with open('I94_SAS_Labels_Descriptions.SAS') as f:
    txt = f.read()
    f.seek(0)
    lines = f.readlines()
comment_lines = [line for line in lines if line.startswith('/*') and line.endswith('*/\n')]

In [17]:
clpatt = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [clpatt.match(line) for line in comment_lines]
if not all(m is not None for m in matches):
    for i, m in enumerate(matches):
        if m is None:
            print(i)
print(f'CODE{"":16}', 'DESCRIPTION')
for m in matches:
    print(f'{m.group("code"):20}', m.group('description'))

CODE                 DESCRIPTION
I94YR                4 digit year
I94MON               Numeric month
I94CIT & I94RES      This format shows all the valid and invalid codes for processing
I94PORT              This format shows all the valid and invalid codes for processing
I94MODE              There are missing values as well as not reported (9)
I94BIR               Age of Respondent in Years
COUNT                Used for summary statistics
DTADFILE             Character Date Field - Date added to I-94 Files - CIC does not use
VISAPOST             Department of State where where Visa was issued - CIC does not use
OCCUP                Occupation that will be performed in U.S. - CIC does not use
ENTDEPA              Arrival Flag - admitted or paroled into the U.S. - CIC does not use
ENTDEPD              Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
ENTDEPU              Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
MATFLAG              Match flag - Match of arrival and departure records
BIRYEAR              4 digit year of birth
DTADDTO              Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
GENDER               Non-immigrant sex
INSNUM               INS number
AIRLINE              Airline used to arrive in U.S.
ADMNUM               Admission Number
FLTNO                Flight number of Airline used to arrive in U.S.
VISATYPE             Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

<h4>Temperature Data</h4>

In [18]:
#Read temperature dataset from link provided by Udacity
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
data_temp = pd.read_csv(fname)
data_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [19]:
#get shape of dataset
data_temp.shape

(8599212, 7)

<h4>US Cities Demographics</h4>

In [20]:
#Read immigration data csv and preview the data
data_demo = pd.read_csv('us-cities-demographics.csv', sep=';')
data_demo.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [21]:
#get shape of dataset
data_demo.shape

(2891, 12)

In [22]:

# from pyspark.sql import SparkSession
# spark = SparkSession.builder.\
# config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
# .enableHiveSupport().getOrCreate()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [23]:
# #write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [24]:
# Performing cleaning tasks here

<h4>Clean Combined Immigration Data</h4>

<h4>Drop Unecsasry Columns</h4>
The combined immigatation dataset contains several columns with values of NaN. The first step is to identify those columns and if those columns are not needed, remove the columms.
<ul>
    <li>occup - occupation that will be performed in the US. This column does not seem relevant to my project so I removed the column</li>
    <li>entdepu - Departure Flag - Departed, lost I-94 or is deceased. This column does not seem relevant to my project so I removed the column</li>
    <li>insnum - INS number </li>
    </ul>

In [25]:
#columns to be dropped
col_drop = ['occup', 'entdepu', 'insnum']

In [26]:
data_imm.drop(axis=1, columns=col_drop)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,entdepa,entdepd,matflag,biryear,dtaddto,gender,airline,admnum,fltno,visatype
0,46.0,2016.0,12.0,129.0,129.0,HOU,20789.0,1.0,TX,20802.0,46.0,1.0,1.0,20161201,MDD,H,O,M,1970.0,05262018,M,RS,9.755414e+10,7715,E2
1,56.0,2016.0,12.0,245.0,245.0,NEW,20789.0,1.0,OH,20835.0,28.0,3.0,1.0,20161201,BEJ,U,O,M,1988.0,D/S,F,CA,9.062372e+10,819,F1
2,67.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,MD,20794.0,48.0,2.0,1.0,20161201,NAS,A,D,M,1968.0,06012017,M,NaN,8.010503e+10,NaN,B2
3,68.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20792.0,46.0,2.0,1.0,20161201,NAS,A,D,M,1970.0,06012017,F,NaN,8.010511e+10,NaN,B2
4,69.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,HI,20792.0,48.0,2.0,1.0,20161201,NAS,A,D,M,1968.0,06012017,M,NaN,8.010511e+10,NaN,B2
5,70.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20792.0,9.0,2.0,1.0,20161201,NAS,A,D,M,2007.0,06012017,F,NaN,8.010511e+10,NaN,B2
6,71.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,VA,20792.0,34.0,2.0,1.0,20161201,NAS,A,D,M,1982.0,06012017,F,NaN,8.010515e+10,NaN,B2
7,72.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,NY,20792.0,69.0,2.0,1.0,20161201,NAS,A,D,M,1947.0,06012017,F,NaN,8.010515e+10,NaN,B2
8,73.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,NY,20794.0,66.0,2.0,1.0,20161201,NAS,A,D,M,1950.0,06012017,F,NaN,8.010516e+10,NaN,B2
9,74.0,2016.0,12.0,512.0,512.0,XXX,20789.0,2.0,DC,20794.0,56.0,2.0,1.0,20161201,NAS,A,D,M,1960.0,06012017,M,NaN,8.010516e+10,NaN,B2
10,75.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,VA,20794.0,6.0,2.0,1.0,20161201,NAS,A,D,M,2010.0,06012017,M,NaN,8.010519e+10,NaN,B2
11,76.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,VA,20794.0,38.0,2.0,1.0,20161201,NAS,A,D,M,1978.0,06012017,U,NaN,8.010519e+10,NaN,B2
12,77.0,2016.0,12.0,512.0,512.0,PEV,20789.0,9.0,NY,20794.0,40.0,2.0,1.0,20161201,NAS,A,D,M,1976.0,06012017,M,NaN,8.010519e+10,NaN,B2
13,78.0,2016.0,12.0,512.0,512.0,PEV,20789.0,9.0,FL,20792.0,28.0,2.0,1.0,20161201,NaN,A,D,M,1988.0,06012017,F,NaN,8.010522e+10,NaN,B2
14,106.0,2016.0,12.0,104.0,104.0,CHM,20789.0,9.0,NJ,NaN,26.0,2.0,1.0,20161201,NaN,A,NaN,NaN,1990.0,02282017,F,NaN,8.653007e+10,NaN,WT
15,107.0,2016.0,12.0,104.0,104.0,CHM,20789.0,9.0,NJ,NaN,26.0,2.0,1.0,20161201,NaN,A,NaN,NaN,1990.0,02282017,M,NaN,8.653007e+10,NaN,WT
16,108.0,2016.0,12.0,148.0,112.0,CHM,20789.0,9.0,FL,NaN,26.0,2.0,1.0,20161201,NaN,A,W,M,1990.0,02282017,F,NaN,8.653007e+10,NaN,WT
17,159.0,2016.0,12.0,135.0,135.0,HOU,20789.0,2.0,TX,20907.0,65.0,1.0,1.0,20161201,LND,U,O,M,1951.0,03312018,M,G1A,9.247095e+10,7291A,E2
18,166.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20792.0,37.0,2.0,1.0,20161201,NAS,A,D,M,1979.0,06012017,F,NaN,8.010522e+10,NaN,B2
19,167.0,2016.0,12.0,512.0,512.0,PEV,20789.0,9.0,HI,20792.0,24.0,2.0,1.0,20161201,NAS,A,D,M,1992.0,06012017,F,NaN,8.010528e+10,NaN,B2
20,168.0,2016.0,12.0,512.0,512.0,PEV,20789.0,9.0,FL,NaN,53.0,2.0,1.0,20161201,NAS,A,NaN,NaN,1963.0,06012017,F,NaN,8.010529e+10,NaN,B2
21,169.0,2016.0,12.0,512.0,512.0,PEV,20789.0,9.0,FL,20792.0,53.0,2.0,1.0,20161201,NAS,A,D,M,1963.0,06012017,F,NaN,8.010529e+10,NaN,B2
22,170.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,20794.0,35.0,2.0,1.0,20161201,NaN,A,D,M,1981.0,06012017,M,NaN,8.010529e+10,NaN,B2
23,171.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,NY,NaN,22.0,2.0,1.0,20161201,NaN,A,NaN,NaN,1994.0,06012017,F,NaN,8.010529e+10,NaN,B2
24,172.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,DC,NaN,49.0,2.0,1.0,20161201,NaN,A,NaN,NaN,1967.0,06012017,F,NaN,8.010530e+10,NaN,B2
25,173.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,MD,20792.0,28.0,2.0,1.0,20161201,NAS,A,D,M,1988.0,06012017,F,NaN,8.010530e+10,NaN,B2
26,174.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,NaN,40.0,2.0,1.0,20161201,NAS,A,W,M,1976.0,06012017,M,NaN,8.010530e+10,NaN,B2
27,175.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,FL,NaN,44.0,2.0,1.0,20161201,NAS,A,NaN,NaN,1972.0,06012017,F,NaN,8.010530e+10,NaN,B2
28,176.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,NY,20794.0,35.0,2.0,1.0,20161201,NAS,A,D,M,1981.0,06012017,M,NaN,8.010531e+10,NaN,B2
29,177.0,2016.0,12.0,512.0,512.0,PEV,20789.0,2.0,NY,20794.0,30.0,2.0,1.0,20161201,NAS,A,D,M,1986.0,06012017,F,NaN,8.010531e+10,NaN,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7697991,4579103.0,2016.0,7.0,745.0,745.0,PBB,20655.0,3.0,FL,20657.0,32.0,1.0,1.0,20160720,TRT,Z,K,M,1984.0,01192017,M,NaN,1.738593e+10,LAND,B1
7697992,1711953.0,2016.0,7.0,745.0,745.0,PBB,20643.0,3.0,NaN,20660.0,71.0,2.0,1.0,20160708,BLG,Z,K,M,1945.0,12172016,F,NaN,1.350624e+09,LAND,B2
7697993,208885.0,2016.0,7.0,745.0,745.0,PBB,20636.0,3.0,NY,20638.0,44.0,2.0,1.0,20160701,TRT,Z,K,M,1972.0,12312016,M,NaN,1.603680e+09,LAND,B2
7697994,209716.0,2016.0,7.0,745.0,745.0,PBB,20636.0,3.0,NY,20638.0,41.0,2.0,1.0,20160704,NaN,Z,K,M,1975.0,12312016,M,NaN,1.603719e+09,NaN,B2
7697995,466362.0,2016.0,7.0,745.0,745.0,PBB,20637.0,3.0,OH,20638.0,61.0,2.0,1.0,20160702,BLG,Z,K,M,1955.0,01012017,M,NaN,1.621332e+09,LAND,B2
7697996,462579.0,2016.0,7.0,745.0,745.0,PBB,20637.0,3.0,OH,20640.0,48.0,2.0,1.0,20160706,NaN,Z,K,M,1968.0,01012017,F,NaN,1.627689e+09,NaN,B2
7697997,7277200.0,2016.0,7.0,745.0,745.0,PBB,20665.0,3.0,NY,20679.0,69.0,2.0,1.0,20160730,BLG,Z,K,M,1947.0,01292017,F,NaN,4.024316e+09,LAND,B2
7697998,348391.0,2016.0,7.0,745.0,745.0,PBB,20637.0,3.0,IL,20648.0,29.0,2.0,1.0,20160702,BLG,Z,K,M,1987.0,01012017,F,NaN,1.562864e+10,LAND,B2
7697999,4353772.0,2016.0,7.0,745.0,745.0,PBB,20654.0,3.0,NY,20655.0,45.0,2.0,1.0,20160719,BLG,Z,K,M,1971.0,01182017,M,NaN,1.735991e+10,LAND,B2
7698000,4013675.0,2016.0,7.0,745.0,745.0,PBB,20652.0,3.0,MI,NaN,48.0,2.0,1.0,20160717,TRT,Z,NaN,NaN,1968.0,09042016,F,NaN,8.980118e+10,LAND,B2
7698001,2464375.0,2016.0,7.0,745.0,745.0,PHU,20646.0,3.0,TX,20652.0,58.0,1.0,1.0,20160711,BLG,Z,K,M,1958.0,07102017,M,NaN,1.873886e+09,LAND,B1
7698002,6021617.0,2016.0,7.0,745.0,745.0,PHU,20660.0,3.0,KY,20663.0,30.0,1.0,1.0,20160728,NaN,Z,K,M,1986.0,01242017,F,NaN,3.153832e+09,NaN,B1
7698003,5926424.0,2016.0,7.0,745.0,745.0,PHU,20660.0,3.0,MI,NaN,27.0,2.0,1.0,20160725,BLG,Z,NaN,NaN,1989.0,01242017,F,NaN,3.036808e+09,LAND,B2
7698004,6937682.0,2016.0,7.0,745.0,745.0,PHU,20664.0,3.0,IL,20667.0,47.0,2.0,1.0,20160801,NaN,Z,K,M,1969.0,01282017,M,NaN,3.848888e+09,NaN,B2
7698005,6913280.0,2016.0,7.0,745.0,745.0,PHU,20664.0,3.0,IL,20667.0,45.0,2.0,1.0,20160801,NaN,Z,K,M,1971.0,01282017,F,NaN,3.849017e+09,NaN,B2
7698006,7280084.0,2016.0,7.0,745.0,745.0,PIE,20665.0,3.0,MT,20666.0,6.0,2.0,1.0,20160730,CLG,Z,K,M,2010.0,01292017,M,NaN,4.023657e+09,LAND,B2
7698007,7300600.0,2016.0,7.0,745.0,745.0,PIE,20665.0,3.0,MT,20666.0,33.0,2.0,1.0,20160730,CLG,Z,K,M,1983.0,01292017,F,NaN,4.023998e+09,LAND,B2
7698008,5130012.0,2016.0,7.0,745.0,745.0,PTL,20657.0,3.0,WA,20659.0,28.0,2.0,1.0,20160725,NaN,Z,K,M,1988.0,01212017,M,NaN,2.579602e+09,NaN,B2
7698009,898222.0,2016.0,7.0,745.0,745.0,ROU,20639.0,3.0,MA,NaN,32.0,1.0,1.0,20160704,BLG,Z,NaN,NaN,1984.0,04092018,F,NaN,9.322484e+10,LAND,E2
7698010,5078170.0,2016.0,7.0,745.0,745.0,SDP,20657.0,3.0,CA,NaN,23.0,2.0,1.0,20160722,MEX,Z,NaN,NaN,1993.0,01212017,F,NaN,2.535675e+09,LAND,B2
7698011,2223848.0,2016.0,7.0,745.0,745.0,SUM,20645.0,3.0,CA,20648.0,49.0,1.0,1.0,20160710,VAC,Z,K,M,1967.0,01082017,M,NaN,1.840969e+09,LAND,B1
7698012,3705465.0,2016.0,7.0,745.0,745.0,SUM,20651.0,3.0,CA,20656.0,43.0,1.0,1.0,20160722,NaN,Z,K,M,1973.0,01152017,M,NaN,1.973318e+09,NaN,B1
7698013,3570426.0,2016.0,7.0,745.0,745.0,SUM,20651.0,3.0,WA,20659.0,31.0,2.0,1.0,20160716,CLG,Z,K,M,1985.0,01152017,F,NaN,1.706325e+10,LAND,B2
7698014,482340.0,2016.0,7.0,745.0,745.0,SYS,20637.0,3.0,CA,20644.0,42.0,1.0,1.0,20160702,BLG,Z,O,M,1974.0,12162016,M,NaN,9.933939e+10,00072,B1
7698015,194409.0,2016.0,7.0,745.0,745.0,THO,20636.0,3.0,MD,20638.0,30.0,2.0,1.0,20160701,OTT,Z,K,M,1986.0,12312016,F,NaN,1.586481e+09,LAND,B2
7698016,686686.0,2016.0,7.0,745.0,745.0,THO,20638.0,3.0,NJ,20644.0,65.0,2.0,1.0,20160709,NaN,Z,K,M,1951.0,01022017,F,NaN,1.636851e+09,NaN,B2
7698017,689855.0,2016.0,7.0,745.0,745.0,THO,20638.0,3.0,NJ,20644.0,70.0,2.0,1.0,20160703,BLG,Z,K,M,1946.0,01022017,M,NaN,1.636906e+09,LAND,B2
7698018,1033772.0,2016.0,7.0,111.0,749.0,NIA,20640.0,3.0,MD,20690.0,26.0,2.0,1.0,20160705,NaN,Z,O,M,1990.0,12072016,F,NaN,1.165249e+09,LAND,B2
7698019,1033774.0,2016.0,7.0,111.0,749.0,NIA,20640.0,3.0,MD,20690.0,9.0,2.0,1.0,20160705,NaN,Z,O,M,2007.0,12072016,F,NaN,1.166088e+09,LAND,B2
7698020,2718366.0,2016.0,7.0,574.0,749.0,NIA,20647.0,3.0,NY,20655.0,60.0,2.0,1.0,20160712,NaN,Z,O,M,1956.0,12142016,M,NaN,9.915644e+10,LAND,B2

<h4>Clean Airport Codes</h4>

<h4>Drop Unnecessary Columns</h4>
The airport codes dataset contains one column with several NaNs. The first step is to identify those columns and if those columns are not needed, remove the columms.
<ul>
    <li>local_code - local airport code. Column is not needed for my dataset</li>
    <li>gps_code - GPS codes</li>
    </ul>

In [27]:
#columns to be dropped
col_drop = ['local_code', 'gps_code']

In [28]:
data_airport_codes.drop(axis=1, columns=col_drop)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,iata_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,NaN,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,NaN,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,NaN,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,NaN,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,NaN,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810.0,NaN,US,US-AZ,Cordes,NaN,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038.0,NaN,US,US-CA,Barstow,NaN,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87.0,NaN,US,US-CA,Biggs,NaN,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350.0,NaN,US,US-CA,Pine Valley,NaN,"-116.4597417, 32.7273736"
10,00CO,closed,Cass Field,4830.0,NaN,US,US-CO,Briggsdale,NaN,"-104.344002, 40.622202"
11,00FA,small_airport,Grass Patch Airport,53.0,NaN,US,US-FL,Bushnell,NaN,"-82.21900177001953, 28.64550018310547"
12,00FD,heliport,Ringhaver Heliport,25.0,NaN,US,US-FL,Riverview,NaN,"-82.34539794921875, 28.846599578857422"
13,00FL,small_airport,River Oak Airport,35.0,NaN,US,US-FL,Okeechobee,NaN,"-80.96920013427734, 27.230899810791016"
14,00GA,small_airport,Lt World Airport,700.0,NaN,US,US-GA,Lithonia,NaN,"-84.06829833984375, 33.76750183105469"
15,00GE,heliport,Caffrey Heliport,957.0,NaN,US,US-GA,Hiram,NaN,"-84.73390197753906, 33.88420104980469"
16,00HI,heliport,Kaupulehu Heliport,43.0,NaN,US,US-HI,Kailua/Kona,NaN,"-155.980233, 19.832715"
17,00ID,small_airport,Delta Shores Airport,2064.0,NaN,US,US-ID,Clark Fork,NaN,"-116.21399688720703, 48.145301818847656"
18,00IG,small_airport,Goltl Airport,3359.0,NaN,US,US-KS,McDonald,NaN,"-101.395994, 39.724028"
19,00II,heliport,Bailey Generation Station Heliport,600.0,NaN,US,US-IN,Chesterton,NaN,"-87.122802734375, 41.644500732421875"
20,00IL,small_airport,Hammer Airport,840.0,NaN,US,US-IL,Polo,NaN,"-89.5604019165039, 41.97840118408203"
21,00IN,heliport,St Mary Medical Center Heliport,634.0,NaN,US,US-IN,Hobart,NaN,"-87.2605972290039, 41.51139831542969"
22,00IS,small_airport,Hayenga's Cant Find Farms Airport,820.0,NaN,US,US-IL,Kings,NaN,"-89.1229019165039, 40.02560043334961"
23,00KS,small_airport,Hayden Farm Airport,1100.0,NaN,US,US-KS,Gardner,NaN,"-94.93049621582031, 38.72779846191406"
24,00KY,small_airport,Robbins Roost Airport,1265.0,NaN,US,US-KY,Stanford,NaN,"-84.61969757080078, 37.409400939941406"
25,00LA,heliport,Shell Chemical East Site Heliport,15.0,NaN,US,US-LA,Gonzales,NaN,"-90.980833, 30.191944"
26,00LL,heliport,Ac & R Components Heliport,600.0,NaN,US,US-IL,Chatham,NaN,"-89.70559692382812, 39.66529846191406"
27,00LS,small_airport,Lejeune Airport,12.0,NaN,US,US-LA,Esterwood,NaN,"-92.42939758300781, 30.13629913330078"
28,00MD,small_airport,Slater Field,45.0,NaN,US,US-MD,Federalsburg,NaN,"-75.75379943847656, 38.75709915161133"
29,00MI,heliport,Dow Chemical Heliport,588.0,NaN,US,US-MI,Ludington,NaN,"-86.41670227050781, 43.94940185546875"
...,...,...,...,...,...,...,...,...,...,...
55045,ZYAS,medium_airport,Anshan Air Base,NaN,AS,CN,CN-21,Anshan,AOG,"122.853996, 41.105301"
55046,ZYCC,medium_airport,Longjia Airport,706.0,AS,CN,CN-22,Changchun,CGQ,"125.684997559, 43.9962005615"
55047,ZYCH,medium_airport,Changhai Airport,80.0,AS,CN,CN-21,Changhai,CNI,"122.666944444, 39.2666666667"
55048,ZYCY,medium_airport,Chaoyang Airport,568.0,AS,CN,CN-21,Chaoyang,CHG,"120.434998, 41.538101"
55049,ZYDU,medium_airport,Wudalianchi Dedu Airport,984.0,AS,CN,CN-23,Wudalianchi,DTU,"126.133, 48.445"
55050,ZYFX,small_airport,Fuxin Airport,548.0,AS,CN,CN-21,Fuxin,NaN,"121.718122, 42.069014"
55051,ZYFY,medium_airport,Dongji Aiport,NaN,AS,CN,CN-23,Fuyuan,FYJ,"134.366447, 48.199494"
55052,ZYHB,large_airport,Taiping Airport,457.0,AS,CN,CN-23,Harbin,HRB,"126.25, 45.6234016418457"
55053,ZYHE,medium_airport,Heihe Airport,8530.0,AS,CN,CN-23,Heihe,HEK,"127.308883667, 50.1716209371"
55054,ZYJL,small_airport,Jilin Airport,NaN,AS,CN,CN-22,Jilin,JIL,"126.396004, 44.002201"
55055,ZYJM,medium_airport,Jiamusi Airport,262.0,AS,CN,CN-23,Jiamusi,JMU,"130.464996338, 46.84339904789999"
55056,ZYJS,medium_airport,Jiansanjiang Airport,NaN,AS,CN,CN-23,Jiansanjiang,JSJ,"132.660278, 47.11"
55057,ZYJX,medium_airport,Jixi Xingkaihu Airport,760.0,AS,CN,CN-23,Jixi,JXA,"131.193, 45.293"
55058,ZYJZ,medium_airport,Jinzhou Airport,NaN,AS,CN,CN-21,Jinzhou,JNZ,"121.06199645996094, 41.10139846801758"
55059,ZYLD,medium_airport,Lindu Airport,791.0,AS,CN,CN-23,Yichun,LDS,"129.019125, 47.7520555556"
55060,ZYLS,medium_airport,Yushu Batang Airport,12816.0,AS,CN,CN-63,Yushu,YUS,"97.0363888889, 32.836388888900004"
55061,ZYMD,medium_airport,Mudanjiang Hailang International Airport,883.0,AS,CN,CN-23,Mudanjiang,MDG,"129.569000244, 44.5241012573"
55062,ZYMH,medium_airport,Gu-Lian Airport,1836.0,AS,CN,CN-23,Mohe,OHE,"122.43, 52.912777777799995"
55063,ZYQQ,medium_airport,Qiqihar Sanjiazi Airport,477.0,AS,CN,CN-23,Qiqihar,NDG,"123.91799926757812, 47.239601135253906"
55064,ZYSQ,medium_airport,Songyuan Chaganhu Airport,459.0,AS,CN,CN-22,Qian Gorlos Mongol Autonomous County,YSQ,"124.550178, 44.938114"
55065,ZYTH,small_airport,Tahe Airport,1240.0,AS,CN,CN-23,Tahe,NaN,"124.720222222, 52.2244444444"
55066,ZYTL,large_airport,Zhoushuizi Airport,107.0,AS,CN,CN-21,Dalian,DLC,"121.53900146484375, 38.9656982421875"
55067,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,1200.0,AS,CN,CN-22,Tonghua,TNH,"125.703333333, 42.2538888889"
55068,ZYTX,large_airport,Taoxian Airport,198.0,AS,CN,CN-21,Shenyang,SHE,"123.48300170898438, 41.639801025390625"
55069,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,624.0,AS,CN,CN-22,Yanji,YNJ,"129.451004028, 42.8828010559"
55070,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,YKH,"122.3586, 40.542524"
55071,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,NaN,"123.49600219726562, 41.784400939941406"
55072,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,"1.4825, 51.894444"
55073,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,"47.296388888900005, -11.584277777799999"
55074,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,NaN,"130.270556, 30.784722"

<h4>Clean Temperature Data</h4>

In [29]:
data_temp

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
25,1745-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
26,1746-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
27,1746-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
28,1746-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
29,1746-04-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599182,2011-04-01,12.554,0.153,Zwolle,Netherlands,52.24N,5.26E
8599183,2011-05-01,14.066,0.149,Zwolle,Netherlands,52.24N,5.26E
8599184,2011-06-01,16.273,0.267,Zwolle,Netherlands,52.24N,5.26E
8599185,2011-07-01,16.020,0.179,Zwolle,Netherlands,52.24N,5.26E
8599186,2011-08-01,16.975,0.139,Zwolle,Netherlands,52.24N,5.26E
8599187,2011-09-01,15.788,0.109,Zwolle,Netherlands,52.24N,5.26E
8599188,2011-10-01,11.337,0.221,Zwolle,Netherlands,52.24N,5.26E
8599189,2011-11-01,6.990,0.097,Zwolle,Netherlands,52.24N,5.26E
8599190,2011-12-01,5.722,0.261,Zwolle,Netherlands,52.24N,5.26E
8599191,2012-01-01,4.348,0.293,Zwolle,Netherlands,52.24N,5.26E
8599192,2012-02-01,0.376,0.290,Zwolle,Netherlands,52.24N,5.26E
8599193,2012-03-01,7.863,0.135,Zwolle,Netherlands,52.24N,5.26E
8599194,2012-04-01,8.101,0.168,Zwolle,Netherlands,52.24N,5.26E
8599195,2012-05-01,14.169,0.191,Zwolle,Netherlands,52.24N,5.26E
8599196,2012-06-01,14.702,0.342,Zwolle,Netherlands,52.24N,5.26E
8599197,2012-07-01,17.329,0.287,Zwolle,Netherlands,52.24N,5.26E
8599198,2012-08-01,18.588,0.224,Zwolle,Netherlands,52.24N,5.26E
8599199,2012-09-01,14.333,0.207,Zwolle,Netherlands,52.24N,5.26E
8599200,2012-10-01,10.358,0.208,Zwolle,Netherlands,52.24N,5.26E
8599201,2012-11-01,6.469,0.189,Zwolle,Netherlands,52.24N,5.26E
8599202,2012-12-01,4.303,0.341,Zwolle,Netherlands,52.24N,5.26E
8599203,2013-01-01,1.479,0.217,Zwolle,Netherlands,52.24N,5.26E
8599204,2013-02-01,1.559,0.304,Zwolle,Netherlands,52.24N,5.26E
8599205,2013-03-01,2.253,0.267,Zwolle,Netherlands,52.24N,5.26E
8599206,2013-04-01,7.710,0.182,Zwolle,Netherlands,52.24N,5.26E
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

Just by previewing the data, we can see lots of NaNs. Those rows will be removed as they are not useful as the temperature data listed by month so I can't make any useful inference from the surrounding data. 
Also from previewing the data, we can see dates that extend back to the 1700s. I don't think it's necessary to use data from that far in the past, so I will remove those rows which have dates earlier than 2000.

In [30]:
#drop dates earlier than 2000-01-01
data_temp[data_temp.dt >= '2000-01-01']

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
3074,2000-01-01,3.065,0.372,Århus,Denmark,57.05N,10.33E
3075,2000-02-01,3.724,0.241,Århus,Denmark,57.05N,10.33E
3076,2000-03-01,3.976,0.296,Århus,Denmark,57.05N,10.33E
3077,2000-04-01,8.321,0.221,Århus,Denmark,57.05N,10.33E
3078,2000-05-01,13.567,0.253,Århus,Denmark,57.05N,10.33E
3079,2000-06-01,14.702,0.240,Århus,Denmark,57.05N,10.33E
3080,2000-07-01,16.244,0.326,Århus,Denmark,57.05N,10.33E
3081,2000-08-01,15.917,0.260,Århus,Denmark,57.05N,10.33E
3082,2000-09-01,13.195,0.233,Århus,Denmark,57.05N,10.33E
3083,2000-10-01,10.984,0.178,Århus,Denmark,57.05N,10.33E
3084,2000-11-01,7.042,0.290,Århus,Denmark,57.05N,10.33E
3085,2000-12-01,3.638,0.396,Århus,Denmark,57.05N,10.33E
3086,2001-01-01,1.918,0.381,Århus,Denmark,57.05N,10.33E
3087,2001-02-01,0.241,0.328,Århus,Denmark,57.05N,10.33E
3088,2001-03-01,1.310,0.236,Århus,Denmark,57.05N,10.33E
3089,2001-04-01,5.890,0.158,Århus,Denmark,57.05N,10.33E
3090,2001-05-01,12.016,0.351,Århus,Denmark,57.05N,10.33E
3091,2001-06-01,13.944,0.352,Århus,Denmark,57.05N,10.33E
3092,2001-07-01,18.453,0.367,Århus,Denmark,57.05N,10.33E
3093,2001-08-01,17.396,0.287,Århus,Denmark,57.05N,10.33E
3094,2001-09-01,13.206,0.207,Århus,Denmark,57.05N,10.33E
3095,2001-10-01,11.732,0.200,Århus,Denmark,57.05N,10.33E
3096,2001-11-01,5.184,0.433,Århus,Denmark,57.05N,10.33E
3097,2001-12-01,0.363,0.429,Århus,Denmark,57.05N,10.33E
3098,2002-01-01,2.673,0.355,Århus,Denmark,57.05N,10.33E
3099,2002-02-01,4.230,0.398,Århus,Denmark,57.05N,10.33E
3100,2002-03-01,4.518,0.218,Århus,Denmark,57.05N,10.33E
3101,2002-04-01,7.595,0.179,Århus,Denmark,57.05N,10.33E
3102,2002-05-01,13.588,0.161,Århus,Denmark,57.05N,10.33E
3103,2002-06-01,16.634,0.170,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599182,2011-04-01,12.554,0.153,Zwolle,Netherlands,52.24N,5.26E
8599183,2011-05-01,14.066,0.149,Zwolle,Netherlands,52.24N,5.26E
8599184,2011-06-01,16.273,0.267,Zwolle,Netherlands,52.24N,5.26E
8599185,2011-07-01,16.020,0.179,Zwolle,Netherlands,52.24N,5.26E
8599186,2011-08-01,16.975,0.139,Zwolle,Netherlands,52.24N,5.26E
8599187,2011-09-01,15.788,0.109,Zwolle,Netherlands,52.24N,5.26E
8599188,2011-10-01,11.337,0.221,Zwolle,Netherlands,52.24N,5.26E
8599189,2011-11-01,6.990,0.097,Zwolle,Netherlands,52.24N,5.26E
8599190,2011-12-01,5.722,0.261,Zwolle,Netherlands,52.24N,5.26E
8599191,2012-01-01,4.348,0.293,Zwolle,Netherlands,52.24N,5.26E
8599192,2012-02-01,0.376,0.290,Zwolle,Netherlands,52.24N,5.26E
8599193,2012-03-01,7.863,0.135,Zwolle,Netherlands,52.24N,5.26E
8599194,2012-04-01,8.101,0.168,Zwolle,Netherlands,52.24N,5.26E
8599195,2012-05-01,14.169,0.191,Zwolle,Netherlands,52.24N,5.26E
8599196,2012-06-01,14.702,0.342,Zwolle,Netherlands,52.24N,5.26E
8599197,2012-07-01,17.329,0.287,Zwolle,Netherlands,52.24N,5.26E
8599198,2012-08-01,18.588,0.224,Zwolle,Netherlands,52.24N,5.26E
8599199,2012-09-01,14.333,0.207,Zwolle,Netherlands,52.24N,5.26E
8599200,2012-10-01,10.358,0.208,Zwolle,Netherlands,52.24N,5.26E
8599201,2012-11-01,6.469,0.189,Zwolle,Netherlands,52.24N,5.26E
8599202,2012-12-01,4.303,0.341,Zwolle,Netherlands,52.24N,5.26E
8599203,2013-01-01,1.479,0.217,Zwolle,Netherlands,52.24N,5.26E
8599204,2013-02-01,1.559,0.304,Zwolle,Netherlands,52.24N,5.26E
8599205,2013-03-01,2.253,0.267,Zwolle,Netherlands,52.24N,5.26E
8599206,2013-04-01,7.710,0.182,Zwolle,Netherlands,52.24N,5.26E
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [31]:
#drop rows with NaNs in AverageTemperature column
data_temp.dropna(subset=['AverageTemperature'])

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E
81,1750-08-01,16.848,0.736,Århus,Denmark,57.05N,10.33E
82,1750-09-01,13.143,1.021,Århus,Denmark,57.05N,10.33E
83,1750-10-01,5.251,1.258,Århus,Denmark,57.05N,10.33E
85,1750-12-01,-0.678,1.808,Århus,Denmark,57.05N,10.33E
86,1751-01-01,-0.623,1.700,Århus,Denmark,57.05N,10.33E
87,1751-02-01,-3.764,2.329,Århus,Denmark,57.05N,10.33E
88,1751-03-01,3.700,1.672,Århus,Denmark,57.05N,10.33E
89,1751-04-01,5.267,0.850,Århus,Denmark,57.05N,10.33E
91,1751-06-01,14.429,1.579,Århus,Denmark,57.05N,10.33E
92,1751-07-01,16.638,0.890,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599181,2011-03-01,5.917,0.167,Zwolle,Netherlands,52.24N,5.26E
8599182,2011-04-01,12.554,0.153,Zwolle,Netherlands,52.24N,5.26E
8599183,2011-05-01,14.066,0.149,Zwolle,Netherlands,52.24N,5.26E
8599184,2011-06-01,16.273,0.267,Zwolle,Netherlands,52.24N,5.26E
8599185,2011-07-01,16.020,0.179,Zwolle,Netherlands,52.24N,5.26E
8599186,2011-08-01,16.975,0.139,Zwolle,Netherlands,52.24N,5.26E
8599187,2011-09-01,15.788,0.109,Zwolle,Netherlands,52.24N,5.26E
8599188,2011-10-01,11.337,0.221,Zwolle,Netherlands,52.24N,5.26E
8599189,2011-11-01,6.990,0.097,Zwolle,Netherlands,52.24N,5.26E
8599190,2011-12-01,5.722,0.261,Zwolle,Netherlands,52.24N,5.26E
8599191,2012-01-01,4.348,0.293,Zwolle,Netherlands,52.24N,5.26E
8599192,2012-02-01,0.376,0.290,Zwolle,Netherlands,52.24N,5.26E
8599193,2012-03-01,7.863,0.135,Zwolle,Netherlands,52.24N,5.26E
8599194,2012-04-01,8.101,0.168,Zwolle,Netherlands,52.24N,5.26E
8599195,2012-05-01,14.169,0.191,Zwolle,Netherlands,52.24N,5.26E
8599196,2012-06-01,14.702,0.342,Zwolle,Netherlands,52.24N,5.26E
8599197,2012-07-01,17.329,0.287,Zwolle,Netherlands,52.24N,5.26E
8599198,2012-08-01,18.588,0.224,Zwolle,Netherlands,52.24N,5.26E
8599199,2012-09-01,14.333,0.207,Zwolle,Netherlands,52.24N,5.26E
8599200,2012-10-01,10.358,0.208,Zwolle,Netherlands,52.24N,5.26E
8599201,2012-11-01,6.469,0.189,Zwolle,Netherlands,52.24N,5.26E
8599202,2012-12-01,4.303,0.341,Zwolle,Netherlands,52.24N,5.26E
8599203,2013-01-01,1.479,0.217,Zwolle,Netherlands,52.24N,5.26E
8599204,2013-02-01,1.559,0.304,Zwolle,Netherlands,52.24N,5.26E
8599205,2013-03-01,2.253,0.267,Zwolle,Netherlands,52.24N,5.26E
8599206,2013-04-01,7.710,0.182,Zwolle,Netherlands,52.24N,5.26E
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E

<h4>Clean US Cities Demographics</h4>

In [32]:
data_demo

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
5,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343
6,Avondale,Arizona,29.1,38712.0,41971.0,80683,4815.0,8355.0,3.18,AZ,Black or African-American,11592
7,West Covina,California,39.8,51629.0,56860.0,108489,3800.0,37038.0,3.56,CA,Asian,32716
8,O'Fallon,Missouri,36.0,41762.0,43270.0,85032,5783.0,3269.0,2.77,MO,Hispanic or Latino,2583
9,High Point,North Carolina,35.5,51751.0,58077.0,109828,5204.0,16315.0,2.65,NC,Asian,11060
10,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,Hispanic or Latino,5822
11,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,American Indian and Alaska Native,998
12,Philadelphia,Pennsylvania,34.1,741270.0,826172.0,1567442,61995.0,205339.0,2.61,PA,Asian,122721
13,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Hispanic or Latino,65162
14,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,American Indian and Alaska Native,8791
15,Fort Myers,Florida,37.3,36850.0,37165.0,74015,4312.0,15365.0,2.45,FL,White,50169
16,Pittsburgh,Pennsylvania,32.9,149690.0,154695.0,304385,17728.0,28187.0,2.13,PA,White,208863
17,Laredo,Texas,28.8,124305.0,131484.0,255789,4921.0,68427.0,3.66,TX,American Indian and Alaska Native,1253
18,Berkeley,California,32.5,60142.0,60829.0,120971,3736.0,25000.0,2.35,CA,Asian,27089
19,Santa Clara,California,35.2,63278.0,62938.0,126216,4426.0,52281.0,2.75,CA,White,55847
20,Allen,Pennsylvania,33.5,60626.0,59581.0,120207,5691.0,19652.0,2.67,PA,Black or African-American,22304
21,Hampton,Virginia,35.5,66214.0,70240.0,136454,19638.0,6204.0,2.48,VA,Black or African-American,70303
22,Bolingbrook,Illinois,33.7,36295.0,35801.0,72096,2951.0,15212.0,3.42,IL,American Indian and Alaska Native,323
23,Frederick,Maryland,36.1,33146.0,36336.0,69482,3870.0,14211.0,2.48,MD,White,49181
24,Sparks,Nevada,36.1,47780.0,48318.0,96098,7315.0,15690.0,2.63,NV,Hispanic or Latino,29159
25,Rancho Cordova,California,33.8,34844.0,36182.0,71026,4590.0,17020.0,2.86,CA,Asian,12653
26,Westminster,Colorado,37.8,54866.0,58251.0,113117,6512.0,11361.0,2.63,CO,Hispanic or Latino,23355
27,Lakewood,Colorado,37.7,76013.0,76576.0,152589,9988.0,14169.0,2.29,CO,Hispanic or Latino,33630
28,Flint,Michigan,35.3,48984.0,49313.0,98297,3757.0,2138.0,2.38,MI,White,44786
29,New Haven,Connecticut,29.9,63765.0,66545.0,130310,2567.0,25871.0,2.48,CT,American Indian and Alaska Native,2205
...,...,...,...,...,...,...,...,...,...,...,...,...
2861,Scranton,Pennsylvania,38.5,37975.0,39137.0,77112,5059.0,8069.0,2.39,PA,Asian,4722
2862,Aurora,Colorado,34.2,177899.0,180971.0,358870,25158.0,65816.0,2.82,CO,Asian,24673
2863,Redlands,California,36.2,33993.0,37035.0,71028,3445.0,8681.0,2.82,CA,Hispanic or Latino,19698
2864,Alhambra,California,41.0,42184.0,43388.0,85572,1673.0,44441.0,2.89,CA,Hispanic or Latino,31386
2865,Alhambra,California,41.0,42184.0,43388.0,85572,1673.0,44441.0,2.89,CA,Black or African-American,1905
2866,Rio Rancho,New Mexico,38.3,47251.0,46904.0,94155,8527.0,5200.0,2.86,NM,Black or African-American,3970
2867,Wyoming,Michigan,32.8,35967.0,39310.0,75277,3447.0,8612.0,2.65,MI,American Indian and Alaska Native,2444
2868,Reading,Pennsylvania,29.4,43668.0,44205.0,87873,2580.0,17043.0,2.95,PA,Asian,903
2869,Rialto,California,31.6,49902.0,53235.0,103137,2036.0,32741.0,3.83,CA,American Indian and Alaska Native,1065
2870,Tallahassee,Florida,26.2,89390.0,100504.0,189894,9575.0,16720.0,2.38,FL,Asian,10035
2871,Hemet,California,36.8,38622.0,45251.0,83873,5613.0,13330.0,2.97,CA,Asian,3697
2872,Aurora,Illinois,31.7,101964.0,101751.0,203715,4988.0,50980.0,3.30,IL,Black or African-American,23736
2873,Carmel,Indiana,39.9,42928.0,46101.0,89029,2723.0,9645.0,2.71,IN,White,77178
2874,Glendale,California,42.1,98181.0,102844.0,201025,4448.0,111510.0,2.69,CA,Hispanic or Latino,30807
2875,Des Moines,Iowa,34.5,103726.0,106591.0,210317,11780.0,23857.0,2.41,IA,White,168057
2876,College Station,Texas,22.9,54125.0,53774.0,107899,2471.0,16145.0,2.52,TX,White,84892
2877,Peoria,Arizona,36.9,80139.0,91103.0,171242,13019.0,14260.0,2.97,AZ,Asian,6631
2878,Charlotte,North Carolina,34.3,396646.0,430475.0,827121,36046.0,128897.0,2.52,NC,American Indian and Alaska Native,8746
2879,Lafayette,Indiana,33.5,34313.0,36857.0,71170,5045.0,5697.0,2.19,IN,Hispanic or Latino,9151
2880,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,Black or African-American,14449
2881,Gulfport,Mississippi,35.1,33108.0,38764.0,71872,6646.0,3072.0,2.54,MS,White,42870
2882,Davis,California,26.3,33493.0,34163.0,67656,2176.0,13997.0,2.69,CA,American Indian and Alaska Native,779
2883,Los Angeles,California,35.0,1958998.0,2012898.0,3971896,85417.0,1485425.0,2.86,CA,Black or African-American,404868
2884,Mount Vernon,New York,38.5,31876.0,36745.0,68621,2064.0,23777.0,2.85,NY,Hispanic or Latino,9446
2885,Lynchburg,Virginia,28.7,38614.0,41198.0,79812,4322.0,4364.0,2.48,VA,White,53727
2886,Stockton,California,32.5,150976.0,154674.0,305650,12822.0,79583.0,3.16,CA,American Indian and Alaska Native,19834
2887,Southfield,Michigan,41.6,31369.0,41808.0,73177,4035.0,4011.0,2.27,MI,American Indian and Alaska Native,983
2888,Indianapolis,Indiana,34.1,410615.0,437808.0,848423,42186.0,72456.0,2.53,IN,White,553665
2889,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,American Indian and Alaska Native,374
2890,Coral Springs,Florida,37.2,63316.0,66186.0,129502,4724.0,38552.0,3.17,FL,White,90896

First we want to ensure that the number of males plus number of females adds up to total population. 
Next we want to ensure that the number of foreign born residents and veteran residents is less than the total population

In [33]:
i=0
for index, row in data_demo.iterrows():
    if(row['Male Population'] + row['Female Population'] != row['Total Population']):
       print("Issue with number of males or females are row: ", row)
       print(i)
    elif(row['Number of Veterans'] > row['Total Population'] or row['Foreign-born'] > row['Total Population']):
       print("Issue with number of foreign born or number of veterans at row: ", row)
       print(i)
    i+=1

Issue with number of males or females are row:  City                            The Villages
State                                Florida
Median Age                              70.5
Male Population                          NaN
Female Population                        NaN
Total Population                       72590
Number of Veterans                     15231
Foreign-born                            4034
Average Household Size                   NaN
State Code                                FL
Race                      Hispanic or Latino
Count                                   1066
Name: 333, dtype: object
333
Issue with number of males or females are row:  City                                   The Villages
State                                       Florida
Median Age                                     70.5
Male Population                                 NaN
Female Population                               NaN
Total Population                              72590
Number of Veterans                            15231
Foreign-born                                   4034
Average Household Size                          NaN
State Code                                       FL
Race                      Black or African-American
Count                                           331
Name: 449, dtype: object
449
Issue with number of males or females are row:  City                      The Villages
State                          Florida
Median Age                        70.5
Male Population                    NaN
Female Population                  NaN
Total Population                 72590
Number of Veterans               15231
Foreign-born                      4034
Average Household Size             NaN
State Code                          FL
Race                             White
Count                            72211
Name: 1437, dtype: object
1437

It seems like there are three rows which contain number of Males and Females listed as NaN. Since there are so few rows with this issue, I decided that it is appropriate to remove those rows

In [34]:
drop_cols = ['Male Population', 'Female Population']

In [35]:
#drop those values in the Male Population and Female Population columns which contain NaNs
data_demo = data_demo.dropna(subset=drop_cols)

In [36]:
#run loop again to ensure drop worked
i=0
for index, row in data_demo.iterrows():
    if(row['Male Population'] + row['Female Population'] != row['Total Population']):
       print("Issue with number of males or females are row: ", row)
       print(i)
    elif(row['Number of Veterans'] > row['Total Population'] or row['Foreign-born'] > row['Total Population']):
       print("Issue with number of foreign born or number of veterans at row: ", row)
       print(i)
    i+=1

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

I chose to use a star schema with the immigration dataset chosen to be the fact table and the temperature dataset, airport codes, city demographics chosen to be dimension tables.

<h4>Fact Table</h4>

The fact table imm_fact is as shown below <br>
cicid                 INTEGER <br>
i94yr                 INTEGER<br>
i94mon                INTEGER<br>
i94cit                INTEGER<br>
i94res                INTEGER<br>
i94port               CHAR(3)<br>
arrdate               INTEGER<br>
i94mode               INTEGER<br>
i94addr               CHAR(3)<br>
depdate               INTEGER<br>
i94bir                INTEGER<br>
i94visa               INTEGER<br>
count                 INTEGER<br>
dtadfile              VARCHAR<br>
visapost              CHAR(3)<br>
entdepa               CHAR(1)<br>
entdepd               CHAR(1)<br>
matflag               CHAR(1)<br>
biryear               INTEGER<br>
dtaddto               INTEGER<br>
gender                CHAR(1)<br>
airline               CHAR(2)<br>
admnum                INTEGER<br>
fltno                 VARCHAR<br>
visatype              VARCHAR<br>

<h4>Dimension Tables</h4>

The table <b>dim_country_origin</b> is shown below using the i94cit i94res columns from the immigration data dataset <br>
country_code  INTEGER<br>
country_name  VARCHAR

The dimension table <b>dim_destination</b> is shown below using the i94addr column from the immigration dataset <br>
state_abb  CHAR(2)<br>
#city VARCHAR - maybe not use this one

The dimension table <b>dim_visa_status</b> is shown below using the VISATYPE column<br>
visa_type VARCHAR  <br>

The dimension table <b>dim_temp</b> is shown below using the city column from the temperature dataset<br>
city VARCHAR  <br>
Country  VARCHAR <br>
monthly_avg_temp INTEGER

The dimension table <b>dim_demo_city</b> is shown below using the columns<br>
city VARCHAR <br>
state VARCHAR <br>
number_of_veterans INTEGER <br>
foreign_born INTEGER <br>
race VARCHAR <br>
count INTEGER

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

The table <b>dim_visa_status</b> can be created by utilizing insert statements as there is not a lot of variety. There are 17 different types of visas within the dataset

The table <b>dim_country_origin</b> table can be created by reading the code values from the i94cit i94res columns from the immigration dataset. Also, the description for each code has to be parsed to the country_name column.

The table <b>dim_destination</b> table can be created by reading the column i94addr

The table <b>dim_temp</b> can be created by reading the City, Country and AverageTemperature columns respectively from the temperature dataset.

The table <b>dim_demo_city</b> can be created from the us cities demographics dataset using the columns:<br>
City <br>State<br> Number of Veterans<br> Foreign-born <br>Race<br> Count

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [41]:
#Build database connection
conn = psycopg2.connect(CONN_STRING)
conn.set_session(autocommit=True)
cur = conn.cursor()

NameError: name 'CONN_STRING' is not defined

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [38]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.